* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #410707;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 375px;
  height: 540px;
  background-color: #230006;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 3px white;
}

.container::-webkit-scrollbar {
  display: none;
}

.container form {
  width: 100%;
  border: 2px solid darksalmon;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: currentColor;
}

.container form input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
  color: darksalmon;
  background-color: #000;
}

.container form i {
  padding-left: 10px;
  color: darksalmon;
}

.product-list {
  padding: 20px 0;
}

.product {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 15px;
}

.product img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.product .p-details {
  padding-left: 15px;
}

.product .p-details h2 {
  font-size: 20px;
  color: darksalmon;
}

.product .p-details h3 {
  font-size: 18px;
  color: darksalmon;
}

@media (max-width:375px) {
  .container {
    width: 320px;
    height: 580px;
    border-radius: 0px;
  }
}